.App {
  text-align: center;
  background-color: azure;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.ui.tabular.menu .item {
  padding-left: 10%;
  padding-right: 10%;
}

.dashboard-tabs {
  padding-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 25px;
}

.show-users {
  /* border: 3px solid red; */
  /* background-color: gainsboro; */
  /* gainsboro is lighter than lightgray */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.each-user {
  /* border: 1px solid blue; */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 55px;
  margin-bottom: 75px;
}

.user-card-header {
  /* background-color: lightgreen!important; */
  /* background-color: gainsboro!important; */
  /* background-color: rgb(232, 245, 253)!important; */
  /* background-color: orange!important; */
  border-bottom: 3px solid orange!important;
}

.user-card-content {
  background-color: rgb(245, 248, 250)!important;
}

.pie-chart-img {
  padding-left: 25%;
  padding-right: 25%;
}

.each-property {
  /* border: 5px solid orange; */
  margin: 25px;
  padding: 10px;
}

.each-advertisment {
  /* border: 5px solid orange; */
  background-color: purple;
  margin: 25px;
  padding: 10px;
}

.each-window {
  /* border: 1px solid green; */
  margin-left: 50px;
  margin-right: 50px;
  /* padding-left: 25px;
  padding-right: 25px; */
  padding-top: 15px;
  padding-bottom: 25px;
}

.each-ad {
  /* border: 1px solid purple; */
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 25px;
}

.each-ad-in-advertisment {
  /* border: 1px solid purple; */
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 15px;
}

.show-properties-card-header {
  padding-top: 25px;
}

.no-padding {
  padding: 0px;
  margin: 0px;
}

.big-ad-name-text {
  font-size: 24px;
  font-style: italic;
  /* text-shadow: 2px 3px 3px rgba(0,0,0,0.3); */
  /* text-shadow: 2px 2px 0px rgba(0,128,0,0.3); */
}
