.App {
  text-align: center;
  background-color: azure;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}







.show-users {
  /* border: 3px solid red; */
  /* background-color: gainsboro; */
  /* gainsboro is lighter than lightgray */
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.each-user {
  /* border: 1px solid blue; */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.each-property {
  /* border: 5px solid orange; */
  margin: 25px;
  padding: 10px;
}

.each-window {
  /* border: 1px solid green; */
  margin-left: 50px;
  margin-right: 50px;
  /* padding-left: 25px;
  padding-right: 25px; */
  padding: 25px;
}

.each-ad {
  /* border: 1px solid purple; */
  margin-left: 50px;
  margin-right: 50px;
  /* padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px; */
  padding: 25px;
}
